.good {"good";
}
.bad { "bad";
    }
p{
    font-size: 12px;
    font-family: Arial, serif;
    color: navy;
    line-height: 25px;
}
a:link { color:navy}
a:visited { color: darkmagenta}
a:hover { color: blue}

body {
    width: 90%;
    text-align: center;
    background-image: url("https://st2.depositphotos.com/1016682/10802/i/950/depositphotos_108022386-stock-photo-rice-drying-in-the-sun.jpg");
    background-repeat: no-repeat;
    background-color:#DED0A7;
}
table{
    margin: auto;
}